  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #000; /*rgb(46, 44, 44); */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .hamburger {
    transition: 0.7s ease;
    color: #FFF;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFF;
    display: block;
    transition: 0.3s;
    z-index: 9;
  }
  
  .sidenav a:hover {
    color: #2f755d; /*#818181; */
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-width: 365px) {
    .sidenav {
      padding-top: 30px;
    }
    .sidenav a {
      font-size: 20px;
    }
  }
  
  #main {
    display: row;
    transition: margin-left .5s;
    padding: 20px;
   /* color: #FFF; */
    height: 100%;
    width: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  /*  background-color: #000; */
    overflow-x: hidden;
    transition: 0.5s;
  

  }
  @media screen and (max-width: 945px) {
    #main {
      background-color: inherit!important;
    }
    .hamburger {
     
      padding: 0 4px;;
    }

  }
  
@media screen and (max-width: 570px) {
  #main {
    padding: 20px 20px 20px 10px;
  }

}
  @media screen and (max-width: 670px) {
   
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li a {
    display:block;
    text-align: center;
    padding: 10px 0;
    font-family: 'Bebas';
    text-decoration: none;

}
ul li:first-child {
  /*  padding-top: 20px; */
}
/*
@media only screen 
and (max-width : 600px) {
    .menu {
        width: 40px;
        height: 40px;
        background: #08c9a2 url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/32x32/list_bullets.png') no-repeat scroll 50% 50%;
    }
    .menu ul {
        display:none;
    }
    .menu:hover ul {
        display:block;
    }.menu:hover {
        width: 100px;
        height: auto;
    }
} */

.socialIcons li a i {
  text-decoration: none;
  color: #000;
  transition: 0.5s ease;
  font-size: 16px;
}
.socialIcons {
    position: fixed;
    bottom: 100px;
    left: 26px;
    z-index: 99;
    transition: 0.5s ease;

}
@media screen and (max-width: 777px) {
  .socialIcons li a i { font-size: 14px; }
}
@media screen and (max-width: 566px) {
  .socialIcons li a i { font-size: 12px; }
}

@media screen and (max-width: 380px) {
   /* .socialIcons {
      display: flex;
      align-items: flex-start;
    }
    .socialIcons li a {
      padding: 10px 10px;
    } */
}
@media screen and (max-width: 366px) {
  .socialIcons li a i { font-size: 8px; }
}
@media screen and (max-width: 306px) {
  .socialIcons {
display: none;
  }
  .socialIcons li a {
    padding: 10px 10px;
  }
}
@media screen and (max-height: 292px) {
  .socialIcons {
    display: none;
  }
}

.socialLink {

  transition: 0.5s ease;
}

.socialIcons  li a:hover {
  color: #818181;
  transition: 0.3s ease;
}

.socialIcons li a .i:hover {
  color:#818181;
}

.socialIconsInMenu {
    position: fixed;
    bottom: 100px;
    left: 26px;
    color: #fff
}

.socialIconsInMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Bebas';
  font-size: 20px;
  color: #FFF;
  display: block;
  transition: 0.3s;
  z-index: 9;
}

.socialIconsInMenu a:hover {
  color: #818181;
}