
<header class="header">
  <div class="">
  <a routerLink="home" class="logo"><img [src]='getLogo()'></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#work">{{timeValue?.toLocaleTimeString()}}</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Careers</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Contact</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-user"></i></a></li>
  </ul>
</div>
</header>
