<div class="main">
 
    <div class="login-div">
        <form class="login">
            <h1>Hello, Username</h1>
            <div class="image-fields">
    
      <div class="profile-img">
          <img class="icon" src="../../../assets/images/logo2.png"/>
          </div>
            </div>
            <div>
                <button class="image-button">Change Image</button>
            </div>
           <!--  <div class="remember-flex">
                <div>
                    <input type="checkbox">
                    <label class="color_text">Remember me</label>
                </div>
                <div class="help">
                    <a class="color_text" href="#">Need help?</a>
                </div>
            </div> -->
          <!--  <div class="login-face">
                <img src="img/fb-icon.png" height="20"/><a href="#" class="color_link log_face">Login with Facebook</a>
            </div> -->
     
<!-- <div class="protection color_link help">
                This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a>
            </div> -->
        </form>
    </div>




    <div class="login-div">
        <form class="login">
            <div class="register-fields">
            <div class="input-text-username">
               <input type="text" id="username" name="username" placeholder="Username" />
                <div class="warning-input" id="warningEmail">
                    Please enter a valid email or username number.
                </div>
            </div>
            <div class="input-text-email">
                <input type="text" id="email" name="email" placeholder="Email"/>
                 <div class="warning-input">
                     Please enter a valid email or username number.
                 </div>
             </div>
             <div class="input-text-firstName">
                <input type="text" id="firstName" name="firstName" placeholder="First Name" />
                 <div class="warning-input">
                     Please enter a valid email or username number.
                 </div>
             </div>
             <div class="input-text-lastName">
                <input type="text" id="lastName" name="lastName" placeholder="Family Name" />
                 <div class="warning-input">
                     Please enter a valid email or username number.
                 </div>
             </div>
             <div class="input-text-pass">
                <input type="text" id="pass" name="pass" placeholder="Password" />
                 <div class="warning-input" id="warningEmail">
                     Please enter a valid email or username number.
                 </div>
             </div>

            
            <div class="input-text-repass">
                <input type="password" id="repass" name="repass" placeholder="Repeat Password" />
                <div class="warning-input" id="warningPassword">
                    Your password must contain between 4 and 60 characters.
                </div>
            </div>
            </div>
       
           <!--  <div class="remember-flex">
                <div>
                    <input type="checkbox">
                    <label class="color_text">Remember me</label>
                </div>
                <div class="help">
                    <a class="color_text" href="#">Need help?</a>
                </div>
            </div> -->
          <!--  <div class="login-face">
                <img src="img/fb-icon.png" height="20"/><a href="#" class="color_link log_face">Login with Facebook</a>
            </div> -->
     
<!-- <div class="protection color_link help">
                This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a>
            </div> -->
            <div class="update">
                <div>
                    <button class="update-button">Save changes</button>
                </div>
            </div>
        </form>
    </div>

    </div>


